<meta charset="UTF-8">
<title><%= site.title %></title>
<% if (typeof paste !== 'undefined') { %>
    <% function formatBytes(a,b=2,k=1024){with(Math){let d=floor(log(a)/log(k));return 0==a?"0 Tavua":parseFloat((a/pow(k,d)).toFixed(max(0,b)))+" "+["Tavua","KB","MB","GB","TB","PB","EB","ZB","YB"][d]}} %>
    <meta property="og:title" content="<%= paste.title %>">
    <meta property="og:description" content="Koko: <%= formatBytes(paste.meta.size) %> | Katselukertoja: <%= paste.meta.views %>">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="<%= paste.date %>">
<% }  %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
<!-- <style>
    :root {
        --global-font-size: 15px;
        --global-line-height: 1.4em;
        --global-space: 10px;
        --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        --background-color: #222225;
        --page-width: 60em;
        --font-color: #e8e9ed;
        --invert-font-color: #222225;
        --secondary-color: #a3abba;
        --tertiary-color: #a3abba;
        --primary-color: #62c4ff;
        --error-color: #ff3c74;
        --progress-bar-background: #3f3f44;
        --progress-bar-fill: #62c4ff;
        --code-bg-color: #3f3f44;
        --input-style: solid;
        --display-h1-decoration: none;
    }
</style>  -->
<style>
    [data-theme="dark"] {
        --global-font-size: 15px;
        --global-line-height: 1.4em;
        --global-space: 10px;
        --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        --background-color: #222225;
        --page-width: 60em;
        --font-color: #e8e9ed;
        --invert-font-color: #222225;
        --secondary-color: #a3abba;
        --tertiary-color: #a3abba;
        --primary-color: #62c4ff;
        --error-color: #ff3c74;
        --progress-bar-background: #3f3f44;
        --progress-bar-fill: #62c4ff;
        --code-bg-color: #3f3f44;
        --input-style: solid;
        --display-h1-decoration: none;
    }


    /* theme switch */

    .switch {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        transform: scale(0.2);
        transform-origin: bottom right;
        z-index: 10000;
    }

    .toggle-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .toggle-slot {
        position: relative;
        height: 10em;
        width: 20em;
        border: 5px solid #e4e7ec;
        border-radius: 10em;
        background-color: white;
        /*box-shadow: 0px 10px 25px #e4e7ec;*/
        transition: background-color 250ms;
        cursor: pointer;
    }

    .toggle-checkbox:checked~.toggle-slot {
        background-color: #374151;
        border: 5px solid #222;

    }

    .toggle-button {
        transform: translate(11.75em, 1.75em);
        position: absolute;
        height: 6.5em;
        width: 6.5em;
        border-radius: 50%;
        background-color: #ffeccf;
        box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
        transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
    }

    .toggle-checkbox:checked~.toggle-slot .toggle-button {
        background-color: #485367;
        box-shadow: inset 0px 0px 0px 0.75em white;
        transform: translate(1.75em, 1.75em);
    }

    .sun-icon {
        position: absolute;
        height: 6em;
        width: 6em;
        color: #ffbb52;
    }

    .sun-icon-wrapper {
        position: absolute;
        height: 6em;
        width: 6em;
        opacity: 1;
        transform: translate(2em, 2em) rotate(15deg);
        transform-origin: 50% 50%;
        transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
    }

    .toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
        opacity: 0;
        transform: translate(3em, 2em) rotate(0deg);
    }

    .moon-icon {
        position: absolute;
        height: 6em;
        width: 6em;
        color: white;
    }

    .moon-icon-wrapper {
        position: absolute;
        height: 6em;
        width: 6em;
        opacity: 0;
        transform: translate(11em, 2em) rotate(0deg);
        transform-origin: 50% 50%;
        transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
    }

    .toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
        opacity: 1;
        transform: translate(12em, 2em) rotate(-15deg);
    }
</style>
<label class="switch">
    <input class='toggle-checkbox' type='checkbox' id="theme-switch"></input>
    <div class='toggle-slot'>
        <div class='sun-icon-wrapper'>
            <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
        </div>
        <div class='toggle-button'></div>
        <div class='moon-icon-wrapper'>
            <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
        </div>
    </div>
</label>
<script>
    let darkMode = (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) || false

    function updateTheme(set) {
        if (!set) document.body.dataset.theme = (darkMode ? "dark" : "light")
        else {
            document.body.dataset.theme = localStorage.getItem("theme")
            darkMode = document.body.dataset.theme === "light"
        }
        localStorage.setItem("theme", document.body.dataset.theme)
        if (document.querySelector("#theme-switch").checked !== darkMode) document.querySelector("#theme-switch").checked = darkMode
    }
    updateTheme(true)

    document.querySelector("#theme-switch").addEventListener("change", (e) => {
        darkMode = e.target.checked
        updateTheme()
    })
</script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.protokolla.fi/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

