<meta charset="UTF-8">
<title><%= site.title %></title>
<% if (typeof paste !== 'undefined') { %>
    <% function formatBytes(a,b=2,k=1024){with(Math){let d=floor(log(a)/log(k));return 0==a?"0 Tavua":parseFloat((a/pow(k,d)).toFixed(max(0,b)))+" "+["Tavua","KB","MB","GB","TB","PB","EB","ZB","YB"][d]}} %>
    <meta property="og:title" content="<%= paste.title %>">
    <meta property="og:description" content="Koko: <%= formatBytes(paste.meta.size) %> | Katselukertoja: <%= paste.meta.views %>">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="<%= paste.date %>">
<% }  %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />