<% const truncate = (input, size) => input.length > size ? `${input.substring(0,
    size)}...` : input; %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="max-w-full">
        <%- include('../partials/header'); %>
            <main class="container">
                <div class="terminal-timeline">

                    <% for (let i=0; i < pastes.length; i++) { %>
                        <div class="terminal-card">
                            <header>
                                <%= pastes[i].title ? truncate(pastes[i].title, 50) : "Nimetön" %>
                            </header>
                            <div>
                                <%= pastes[i].content ? truncate(pastes[i].content, 500) : "Tyhjyys" %>
                                    <br>
                                    <br>
                                    <a href="/p/<%= pastes[i].id %>">Katso kokonaan...</a>
                            </div>
                        </div>
                        <br />
                        <% } %>
                </div>
            </main>
    </body>

    </html>