<% const truncate = (input, size) => input.length > size ? `${input.substring(0,
size)}...` : input; %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <br />
      <p>Liitteitä löytyi: <kbd><%= foundCount %></kbd></p>

      <form action="/search">
        <fieldset>
          <legend>Hakusivu</legend>
          <div class="form-group">
            <label for="query">Liitteen nimi / hakusana:</label>
            <input id="query" name="q" type="text" placeholder="Liite...">
          </div>
          <div class="form-group">
            <label for="sorting">Lajittelu:</label>
            <select id="sorting" name="sorting">
              <option value="olennaisin">Olennaisin ensin</option>
              <option value="viimeisin">Uusin ensin</option>
              <option value="suosituin">Suosituin ensin</option>
              <option value="suurin">Suurin ensin</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="submit" role="button" id="search">Hae!</button>
          </div>
        </fieldset>
      </form>


      <% if (foundCount > 10) { %>
        <div class="btn-group">
          <% if (page > 1) { %>
          <a href="<%= pagination.lastPage %>" class="btn">Edellinen</a>
          <% } %> <% for (let key in pagination.links) { %> <% if
          (pagination.links[key].page*10 < foundCount+10) { %> <% if
          (pagination.links[key].page == page) { %>
          <a href="<%= pagination.links[key].link %>" class="btn btn-active"
            ><%= pagination.links[key].page %></a
          >
          <% } else { %>
          <a href="<%= pagination.links[key].link %>" class="btn"
            ><%= pagination.links[key].page %></a
          >
          <% } %> <% } %> <% } %> <% if ((page*10)+10 < foundCount) { %>
          <a href="<%= pagination.nextPage %>" class="btn">Seuraava</a>
          <% } %>
        </div>
      <% } %>

      <br />

      <% for (let i=0; i < pastes.length; i++) { %>
        <div class="terminal-card">
          <header><%= pastes[i].title ? truncate(pastes[i].title, 50) : "Nimetön" %></header>
          <div>
            <%= pastes[i].content ? truncate(pastes[i].content, 500) : "Tyhjyys" %>
            <br>
            <br>
            <a href="/p/<%= pastes[i].id %>">Katso kokonaan...</a>
          </div>
        </div>
      <br />
      <% } %>

      <% if (foundCount > 10) { %>
        <div class="btn-group">
          <% if (page > 1) { %>
          <a href="<%= pagination.lastPage %>" class="btn">Edellinen</a>
          <% } %> <% for (let key in pagination.links) { %> <% if
          (pagination.links[key].page*10 < foundCount+10) { %> <% if
          (pagination.links[key].page == page) { %>
          <a href="<%= pagination.links[key].link %>" class="btn btn-active"
            ><%= pagination.links[key].page %></a
          >
          <% } else { %>
          <a href="<%= pagination.links[key].link %>" class="btn"
            ><%= pagination.links[key].page %></a
          >
          <% } %> <% } %> <% } %> <% if ((page*10)+10 < foundCount) { %>
          <a href="<%= pagination.nextPage %>" class="btn">Seuraava</a>
          <% } %>
        </div>
      <% } %>
      <br />
    </main>
  </body>
</html>
