<% const truncate = (input, size) => input.length > size ? `${input.substring(0,
size)}...` : input; %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container max-w-full max-h-screen">
    <%- include('../partials/header'); %>

    <main class="ml-16 mr-16">
      <br />
      <h1 class="mb-8 text-3xl"><%= title %></h1>
      <!-- <div class="grid grid-cols-4 gap-4"> -->
      <% for (let i=0; i < pastes.length; i++) { %>

      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title">
            <a class="hover:underline break-words" href="/p/<%= pastes[i].id %>"
              ><%= pastes[i].title ? truncate(pastes[i].title, 50) : "Nimetön"
              %></a
            >
          </h2>
          <p class="mt-5 break-words">
            <%= pastes[i].content ? truncate(pastes[i].content, 500) : "Tyhjyys"
            %>
          </p>
        </div>
      </div>
      <br />
      <% } %>
      <!-- </div> -->
    </main>
  </body>
</html>