<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <% function formatBytes(a,b=2,k=1024){with(Math){let d=floor(log(a)/log(k));return 0==a?"0 Tavua":parseFloat((a/pow(k,d)).toFixed(max(0,b)))+" "+["Tavua","KB","MB","GB","TB","PB","EB","ZB","YB"][d]}} %>

  <!-- Highlight.js -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style>
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: var(--block-background-color);
      color: var(--font-color);
    }

    .hljs-comment,
    .hljs-quote {
      color: var(--secondary-color);
    }

    .hljs-variable {
        color: var(--font-color);
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-built_in,
    .hljs-name,
    .hljs-tag {
      color: var(--primary-color);
    }

    .hljs-string,
    .hljs-title,
    .hljs-section,
    .hljs-attribute,
    .hljs-literal,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-addition {
      color: var(--secondary-color);
    }

    .hljs-string {
        color: var(--secondary-color);
    }

    .hljs-deletion,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-meta {
      color: var(--primary-color);
    }

    .hljs-doctag {
      color: var(--secondary-color);
    }

    .hljs-attr {
      color: var(--primary-color);
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link {
      color: var(--primary-color);
    }


    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }
  </style>
</head>
<body class="container max-w-full">

  <%- include('../partials/header'); %>

  <main>
    <div class="container">
      <div>
        <h2><%= paste.title ? paste.title : "Nimetön" %></h2>
        <div class="btn-group" style="float: right; position: block;">
          <a class="btn btn-default btn-ghost" href="/r/<%= paste.id %>">Raaka</a>
          <a class="btn btn-default btn-ghost" href="/dl/<%= paste.id %>">Lataa (<%= formatBytes(paste.meta.size) %>)</a>
        </div>
      </div>
      <div>
        <span><%= paste.date ? paste.date.toLocaleDateString('fi-FI', { year: 'numeric', month: 'long', day: 'numeric' }) : "Yksi ikuisuus sitten" %></span>
        | <span><%= paste.meta.views ? paste.meta.views : 0 // Some old data does not have views %> näyttökertaa</span>
        <%- paste.hidden ? "<span>Piilotettu</span>" : "" %>
      </div>
      <div>
        <br>
        <pre><code><%= paste.content %></code></pre>
      </div>
    </div>
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('code').forEach((el) => {
        hljs.highlightElement(el);

        console.log(`Detected language as ${el.result.language} with relevance ${el.result.relevance}`)
      });
    });
  </script>

  </body>
</html>