<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <% function formatBytes(a,b=2,k=1024){with(Math){let d=floor(log(a)/log(k));return 0==a?"0 Tavua":parseFloat((a/pow(k,d)).toFixed(max(0,b)))+" "+["Tavua","KB","MB","GB","TB","PB","EB","ZB","YB"][d]}} %>

  <!-- Highlight.js -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Line number plugin for higlight.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

  <!-- Theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/agate.css">

  <style>
    .hljs {
      background-color: #3d4451
    }
  </style>
</head>
<body class="container max-w-full">

  <%- include('../partials/header'); %>

  <main class="ml-8 mr-8">
    <div class="container p-8 break-all max-w-md min-w-full">
      <div class="mb-5">
        <h2 class="text-2xl inline-block"><%= paste.title ? paste.title : "Nimetön" %></h2>
        <div class="float-right btn-group">
          <a class="btn btn-outline btn-sm" href="/r/<%= paste.id %>">Raaka</a>
          <a class="btn btn-outline btn-sm" href="/dl/<%= paste.id %>">Lataa (<%= formatBytes(paste.meta.size) %>)</a>
        </div>
      </div>
      <div class="mb-8">
        <span class="badge"><%= paste.date ? paste.date.toLocaleDateString('fi-FI', { year: 'numeric', month: 'long', day: 'numeric' }) : "Yksi ikuisuus sitten" %></span>
        <span class="badge"><%= paste.meta.views ? paste.meta.views : 0 // Some old data does not have views %> näyttökertaa</span>
        <%- paste.hidden ? "<span class='badge'>Piilotettu</span>" : "" %>
      </div>
      <div class="mockup-code">
        <pre><code><%= paste.content %></code></pre>
      </div>
    </div>
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('code').forEach((el) => {
        hljs.highlightElement(el);

        console.log(`Detected language as ${el.result.language} with relevance ${el.result.relevance}`)
      });
    });
  </script>

  </body>
</html>